<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>target/test-results</ResultsDirectory>
    <!-- Pipelines step will inject TestCaseFilter if GROUPS is set -->
  </RunConfiguration>

  <TestRunParameters>
    <!-- Defaults; pipeline can override by templating or replacing -->
    <Parameter name="testSuiteName" value="SampleSmoke" />
    <Parameter name="browser"      value="chrome" />
    <Parameter name="headless"     value="true" />
    <Parameter name="remote"       value="true" />
    <Parameter name="gridUrl"      value="http://localhost:4444" />
  </TestRunParameters>

  <NUnit>
    <NumberOfTestWorkers>3</NumberOfTestWorkers>
  </NUnit>
</RunSettings>